//Новые общие стили - изменить названеи

@media(max-width: 992px) {
  .tariffs__slider {
    &-pagination {
      display: flex;
    }
  }

  .base__slider {
    &-wrapper {
      &.container {
        padding: 0;
      }
    }
  }

  .equipment__item-slider {
    &-pagination {
      display: flex;
    }
  }

  .equipment__item-slider-thumbs {
    display: none;
  }

}





