@media(max-width: 992px) {
  .tariffs {
    &__link {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: flex;
      }
    }
  }

  .tariffs__additional {
    &-content {
      &-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }


    &-link {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: flex;
      }
    }
  }

  .tariffs__tabulations {
    &-tabs {
      flex-direction: column;

      &-tab {
        width: 100%;
      }
    }
  }
}

@media(max-width: 576px) {

  .tariffs__additional {
    &-content {
      &-list {
        grid-template-columns: repeat(1, 1fr);
      }
    }



  }
}