@media(max-width: 992px) {
  .banner__item {
    &-content {
      &-note {
        display: none;
      }
    }
  }

  .site__search {
    display: block;
  }

  .wallet {
    max-width: 100%;
  }

  .account {
    max-width: 100%;

    &__wrapper {
      align-items: stretch;
    }

    &__content {
      height: auto;
    }
  }

  .showcase__controls {
    display: none;
  }

  .base__controls {
    display: none;
  }

  .faq__list {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

  }
  .faq__item {
    max-width: 305px;
    width: 100%;
  }

  .faq__search-form {
    & button {
      display: none;
    }
  }
  .support__form {
    &-wrapper {
      display: contents;
    }

    &-content {
      padding: 32px 16px;
    }
  }

  .breadcrumbs {
    display: none;
  }
}

@media(max-width: 767px) {
  .promo {
    &__content {
      &-img {
        display: none;
      }
    }
  }

  .faq__list {
    grid-template-columns: repeat(1, 1fr);

  }
  .faq__item {
    max-width: 100%;
  }
}

@media(max-width: 576px) {
  .wallet {
    &__wrapper {
      gap: 20px;
    }

    &__heading {
      flex-direction: column;
      align-items: start;
      gap: 13px;
    }

    &__contents {
      &-content {
        &-form {
          gap: 12px;

          &-fields {
            flex-direction: column;
            gap: 12px;

            &-contract, &-price {
              max-width: 100%;
            }
          }

          &-btn {
            max-width: 100%;
          }
        }
      }
    }

    &__background {
      display: none;
    }
  }

  .account {
    &__content {
      gap: 24px;

      &-text {
        gap: 24px;
      }
    }

    &__background {
      display: none;
    }
  }

  .search__cities {
    &-content {
      gap: 20px;
    }

    &-form {
      flex-direction: column;
      gap: 20px;

      &-btn {
        max-width: 100%;
      }
    }
  }

  .promotion__item, .promotion__additional {
    &-content {
      &-text {
        &-title {
          gap: 13px;
        }
      }

      &-img {
        display: none;
      }
    }
  }

  .support__form {
    &-fields {
      flex-direction: column;

      & input {
        width: 100%;
      }
    }

    &-inner {
      flex-direction: column-reverse;

      & button {
        width: 100%;
      }
    }
  }

}

