//Адаптив для поиска на главной странице и страницы интернета

@media(max-width: 568px) {
  .internet__search {

    &-content {
      gap: 20px;
      padding: 32px ;
    }

    &-form{
      flex-direction: column;
      gap: 17px;

      &-btn {
        width: 100%;
      }
    }
  }
}

//Адаптив для промо

@media(max-width: 767px) {
.promo {
  &__right {
    display: none;
  }
}
}