<!--<section class="channels">-->
<!--    <div class="channels__wrapper container">-->
<!--        <div class="channels__tabs">-->
<!--            <div class="channels__tabs-slider swiper">-->
<!--                <div class="swiper-wrapper">-->
<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="all">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Все каналы-->
<!--                        </h3>-->
<!--                    </div>-->

<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="federal">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Федеральные-->
<!--                        </h3>-->
<!--                    </div>-->

<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="cinema">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Кино и сериалы-->
<!--                        </h3>-->
<!--                    </div>-->

<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="news">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Новостные-->
<!--                        </h3>-->
<!--                    </div>-->

<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="entertainment">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Развлекательные-->
<!--                        </h3>-->
<!--                    </div>-->

<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="cognitive">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Познавательные-->
<!--                        </h3>-->
<!--                    </div>-->

<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="sport">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Спортивные-->
<!--                        </h3>-->
<!--                    </div>-->

<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="kids">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Детские-->
<!--                        </h3>-->
<!--                    </div>-->

<!--                    <div class="channels__tabs-slider-slide swiper-slide" data-tab="musical">-->
<!--                        <h3 class="channels__tabs-slider-slide-tab">-->
<!--                            Музыкальные-->
<!--                        </h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="channels__contents">-->
<!--            <div class="channels__contents-slider swiper" data-tab="all">-->
<!--                <div class="swiper-wrapper">-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="channels__contents-slider swiper" data-tab="federal">-->
<!--                <div class="swiper-wrapper">-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--            <div class="channels__contents-slider swiper" data-tab="sport">-->
<!--                <div class="swiper-wrapper">-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="channels__contents-slider-slide swiper-slide">-->
<!--                        <div class="channels__contents-slider-slide-img">-->
<!--                            <img src="/src/assets/images/channels_3.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
