@use '@/styles/common/variables';

.activities {
  margin-top: clamp(1.5rem, 1.197rem + 1.35vw, 2.813rem);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(2.063rem, 1.341rem + 3.21vw, 5.188rem);
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

  }
}