@use '@/styles/common/variables';


.banner {


  &__slider {

    background: #F2F3F7;
    border-radius: 16px;
    height: 440px;

    &-slide {
      padding: 86px 60px 60px 70px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 440px;
      position: relative;
      border-radius: 16px;
      overflow: hidden;

      &-content {
        max-width: 741px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        &-note {
          display: flex;
          align-items: center;
          align-self: start;
          justify-content: center;
          padding: 12px 26px;
          white-space: nowrap;
          border-radius: 12px;
          background: #E3E7F9;
          color: #29316F;
          font-family: variables.$Raleway;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        &-title {
          color: #292929;
          font-family: variables.$Raleway;
          font-size: 40px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        &-caption {
          color: #3C3E4D;
          font-family: variables.$Raleway;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &-btn {
          display: flex;
          align-items: center;
          align-self: start;
          justify-content: center;
          padding: 18px 29px;
          white-space: nowrap;
          border-radius: 13px;
          background: #F60;
          color: #FFF;
          font-family: variables.$Raleway;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0.32px;
          text-transform: uppercase;
        }
      }

      &-img {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        height: 100%;

        & img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }

    &-pagination {
      position: absolute;
      z-index: 1;
      top: 34px !important;
      left: 41px !important;
      display: flex;
      align-items: center;
      gap: 8px;

      & span {
        width: 288px;
        height: 4px;
        border-radius: 5px;
        opacity: 0.2;
        background: #FFF;
        transition: opacity variables.$time ease;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
        border-radius: 8px;
        background: #FFF;
      }
    }

    &-controls {
      position: absolute;
      right: 40px;
      bottom: 40px;
      z-index: 1;
      display: flex;
      align-items: center;
      gap: 17px;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 22px;
        background: #FFF;
        box-shadow: 0 2px 11.8px 0 rgba(0, 0, 0, 0.07);

        & svg {
          fill: #FF6600;
        }


      }
      .swiper-button-disabled {
        & svg {
          fill:#B2B2B2 ;
        }
      }
    }
  }
}