@use '@/styles/common/variables';

.billing {
  margin-top:clamp(3rem, 2.538rem + 2.05vw, 5rem);
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    color: #292929;
    font-family: variables.$Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }


  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
  }
}

