@use '@/styles/common/variables';


.discount__description {
  margin-top:clamp(3rem, 2.538rem + 2.05vw, 5rem);
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 1.413rem + 0.38vw, 1.875rem);
  }

  &-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h2 {
      color: #292929;
      font-family: variables.$Raleway;
      font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.5px;
    }

    & p {
      color: #3C3E4D;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: variables.$Raleway;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
    }
  }

  &-body {
    max-width: 1158px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;

    & h3 {
      color: #292929;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: variables.$Raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }

    & p {
      color: #3C3E4D;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: variables.$Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    gap: 13px;

    & h3 {
      color: #292929;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: variables.$Raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }

    & ul {
      display: flex;
      flex-direction: column;
      list-style-position: inside;

      & li {
        color: #3C3E4D;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: variables.$Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        list-style-type: disc;
      }
    }
  }
}