@use '@/styles/common/variables';

.header {
  position: relative;
  z-index: 999;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    padding-top: clamp(0.688rem, 0.385rem + 1.35vw, 2rem);
    padding-bottom: clamp(1.25rem, 1.077rem + 0.77vw, 2rem);

  }

  &__wrapper {
    position: relative;
    transition: box-shadow variables.$time ease;

    &.active {
      box-shadow: 0 0 10.4px 0 rgba(0, 0, 0, 0.08);
    }
  }

  &__left {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;

    &-logo {
      width: clamp(8.75rem, 7.856rem + 3.97vw, 12.625rem);

      & img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
      }
    }
  }

  &__identity {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 24px;

    &-payment, &-account {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-payment {
      border-radius: 13px;
      background-color: #F60;
      padding: 15px 20px;
      color: #FFF;
      font-family: variables.$Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.28px;
      text-transform: uppercase;
      transition: background-color variables.$time ease;

      &:hover {
        background: #FF822E;
      }
    }

    &-account {
      border-radius: 13px;
      border: 1px solid rgba(255, 102, 0, 0.59);
      background-color: #FFF;
      padding: 15px 20px;
      color: #F60;
      font-family: variables.$Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.28px;
      text-transform: uppercase;
      transition: background-color variables.$time ease, color variables.$time ease, border variables.$time ease;

      &:hover {
        background-color: #FF822E;
        color: #fff;
        border: 1px solid transparent;
      }
    }

    &-search {
      position: relative;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 4px;
        background-color: #F5F5F5;
        transition: background-color variables.$time ease;

        & svg {
          fill: #3C3E4D;
          transition: fill variables.$time ease;
        }

        &:hover {
          background-color: #29316F;
          transition: background-color variables.$time ease;

          & svg {
            fill: #fff;
            transition: fill variables.$time ease;
          }
        }
      }

    }

    &-aside {
      display: flex;
      align-items: center;
      justify-content: center;


    }
  }

  &__mobile {
    display: none;
    align-items: center;
    gap: 15px;

    &-burger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      & span {
        position: relative;
        display: block;
        width: 28px;
        height: 3px;
        border-radius: 20px;
        background-color: #3C3E4D;
        transition: background-color variables.$time ease, transform variables.$time ease;

        &::before, &::after {
          content: '';
          position: absolute;
          left: 0;
          width: 28px;
          height: 3px;
          background: #3C3E4D;
          border-radius: 20px;
          transition: transfrom variables.$time ease;
        }

        &::before {
          top: -8px;
          transition: background-color variables.$time ease, transform variables.$time ease;

        }

        &::after {
          bottom: -8px;
          transition: background-color variables.$time ease, transform variables.$time ease;


        }

      }

      &.active {
        & span {
          background: transparent;

          &::before {
            transform: rotate(45deg);
            top: 0;
            background-color: #29316F;
          }

          &::after {
            transform: rotate(-45deg);
            bottom: 0;
            background-color: #29316F;
          }
        }
      }
    }

    &-call {
      display: none;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      background-color: #F5F5F5;
      border-radius: 4px;
    }

    &-account {
      display: none;
      align-items: center;
      justify-content: center;
      background-color: #F60;
      width: 44px;
      height: 44px;
      border-radius: 4px;
    }


    &-content {
      max-width: 360px;
      width: 100%;
      display: none;
      position: absolute;
      z-index: -1;
      top: 100%;
      right: 0;
      padding: 24px 15px;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
      pointer-events: none;
      transition: opacity variables.$time ease, transform variables.$time ease, visibility 0s linear variables.$time;
      max-height: calc(100vh - 100px); // ограничение по экрану, но не фикс
      overflow-y: auto;
      &-nav {
        margin-top: 24px;

        &-list {
          display: flex;
          flex-direction: column;

          & li {
            & a {
              padding: 20px 0;
              display: flex;
              align-items: center;
              justify-content: space-between;

              & div {
                display: flex;
                align-items: center;
                gap: 24px;
                color: #292929;
                font-family: variables.$Raleway;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                & svg {
                  flex-shrink: 0;
                }
              }
            }
          }


        }
      }

      &-payment {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 13px;
        background: #F60;
        color: #FFF;
        font-family: variables.$Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.28px;
        text-transform: uppercase;
        margin-top: 13px;
        margin-bottom: 26px;
      }

      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        transition: opacity variables.$time ease, transform variables.$time ease, visibility 0s;

      }
    }
  }

}






