@use '@/styles/common/variables';
//Новые стили для слайдеров - Изменить название потом


//Базовый слайдер - используется в Баннер и Вакансии
.base__slider {
  margin-top: clamp(3rem, 2.538rem + 2.05vw, 5rem);

  &.banner {
    margin-top: 0;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 1.413rem + 0.38vw, 1.875rem);
  }

  &-title {
    color: #292929;
    font-family: variables.$Raleway;
    font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  &-content {
    position: relative;

    & .swiper {
      width: 100%;
      min-height: 440px;
      height: 440px;
    }

    & .swiper-slide {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: clamp(0rem, -0.231rem + 1.03vw, 1rem);

    }
  }

  &-vacancy {
    min-height: auto !important;
    height: auto !important;
  }
}

//Стили для слайдера в секции тарифы

.tariffs__slider {
  overflow: visible;

  &-slide {
    flex: 0 0 clamp(220px, calc((100% - 88px) / 5), 260px);

  }

  &-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 13px;

    & span {
      max-width: 32px;
      width: 100%;
      height: 4px;
      border-radius: 8px;
      background-color: #fff;
      transition: background-color variables.$time ease;

      &.swiper-pagination-bullet-active {
        background: #29316F;
      }
    }
  }
}

//Стили универсального слайдера лдя акций и новостей
.showcase {
  margin-top: clamp(3rem, 2.538rem + 2.05vw, 5rem);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.798rem + 0.9vw, 1.875rem);
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      color: #292929;
      font-family: variables.$Raleway;
      font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.5px;
    }
  }

  & .promotion__slider {
    &-slide {
      height: clamp(23.75rem, 23.462rem + 1.28vw, 25rem);
    }
  }


}

//Стили для новостей слайдер
.news__slider {
  &-slide {
    height: auto;
  }
}

//Стили для слайдера оборудования

.equipment__slider {
  &-slide {
    flex: 0 0 clamp(220px, calc((100% - 60px) / 4), 373px);
    width: clamp(15.25rem, 13.389rem + 8.27vw, 23.313rem);
    height: auto;
  }
}

//Стили для слайдеа каналов

.tabs__slider {
  border-bottom: 2px solid #FFE8D9;
  padding-bottom: 16px;


  &-slide {
    position: relative;
    width: max-content;
    cursor: pointer;


    &-content {
      position: relative;

      & h3 {
        color: #3C3E4D;
        font-family: variables.$Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }


    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      bottom: -18px;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: #F60;
      transition: opacity variables.$time ease;
    }

    &.active {
      &::after {
        opacity: 1;
        transition: opacity variables.$time ease;
      }
    }

  }

  &-prev, &-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    & svg {
      fill: #FF6600;
    }
  }

  &-prev {
    left: -30px;

  }

  &-next {
    right: -30px;

  }
}

.content__slider {
  &-slide {
    flex: 0 0 176px;
    height: 130px;
    border-radius: 22px;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
}

//Слайдер на внутреней странице оборудование

.equipment__item-slider {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 765px;
  width: 100%;

  &-main {
    position: relative;
    width: 100%;
    height: clamp(16.25rem, 8.966rem + 32.37vw, 47.813rem);

    & .swiper {
      width: 100%;
      height: 100%;

      & .swiper-slide {
        width: 100%;
        height: 100%;

        &-img {
          width: 100%;
          height: 100%;

          & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
          }
        }

      }
    }

  }

  &-thumbs {
    width: 100%;
    height: 107px;

    & .swiper {
      width: 100%;
      height: 100%;

      & .swiper-slide {
        flex: 0 0 111px;
        height: 100%;

        &-img {
          width: 100%;
          height: 100%;

          & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
          }
        }
      }
    }
  }

  &-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 13px;

    & span {
      max-width: 32px;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      background-color: #E4E4E4;
      transition: background-color variables.$time ease;

      &.swiper-pagination-bullet-active {
        background: #29316F;
      }
    }
  }
}