@use '@/styles/common/variables';

//Заголовок для компонента билинга
.subscriber__billing {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & > h2 {
    color: #292929;
    font-family: variables.$Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }
}

//Стили для блока с карточками
.subscriber__cards {
  padding-top: clamp(1.5rem, 1.197rem + 1.35vw, 2.813rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(266px, auto);
  gap: 18px;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background: #F2F3F7;
    padding: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);

    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-title {
        color: #292929;
        font-family: variables.$Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
      }

      &-caption {
        color: #3C3E4D;
        font-family: variables.$Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
      }
    }

    &-socials {
      display: flex;
      align-items: center;
      gap: 14px;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        background-color: #29316F;
        border-radius: 50%;
      }
    }

    &-caption {
      display: flex;
      flex-direction: column;
      & span {
        display: block;
        color: #3C3E4D;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: variables.$Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;

      }

      & a {
        color: #F60;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: variables.$Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      }
    }
  }
}

