@use '@/styles/common/variables';

.faq {
  margin-top:clamp(3rem, 2.538rem + 2.05vw, 5rem);
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.125rem, 0.952rem + 0.77vw, 1.875rem);
  }

  &__title {
    color: #292929;
    font-family: variables.$Raleway;
    font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
  }
}