@use '@/styles/common/variables';

.tariffs {
  padding-top: clamp(1.5rem, 1.197rem + 1.35vw, 2.813rem);

  &__title {
    color:  #292929;
    font-family: variables.$Raleway;
    font-size:clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-bottom: clamp(1.5rem, 1.413rem + 0.38vw, 1.875rem);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  &__content {
    padding: clamp(2rem, 1.308rem + 3.08vw, 5rem) clamp(2rem, 1.308rem + 3.08vw, 5rem) 0 clamp(2rem, 1.308rem + 3.08vw, 5rem);

    border-radius: 20px;
    background: #F0F2F7;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & h2 {
        color: #292929;
        font-family: variables.$Raleway;
        font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.5px;
      }

      & span {
        color: #3C3E4D;
        font-family: variables.$Raleway;
        font-size: clamp(1rem, 0.942rem + 0.26vw, 1.25rem);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #F60;
      font-family: variables.$Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.32px;
      text-transform: uppercase;
      white-space: nowrap;
      padding: 18px 29px;
      border-radius: 13px;
      border: 1px solid #F60;
      background-color: transparent;
      transition: background-color variables.$time ease, border variables.$time ease, color variables.$time ease;

      &:hover {
        background-color: #FF822E;
        border: 1px solid transparent;
        color: #fff;
      }
    }
  }


}