@use '@/styles/common/variables';

.tariffs {
  margin-top:clamp(3rem, 2.538rem + 2.05vw, 5rem);
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 1.413rem + 0.38vw, 1.875rem);
  }

  &__title {
    color: #292929;
    font-family: variables.$Raleway;
    font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  &__content {
    border-radius: 20px;
    background: #F0F2F7;
    padding: clamp(2rem, 1.308rem + 3.08vw, 5rem) clamp(2rem, 1.308rem + 3.08vw, 5rem) 0 clamp(2rem, 1.308rem + 3.08vw, 5rem);
    display: flex;
    flex-direction: column;
    gap: 21px;


    &-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & h3 {
          color: #292929;
          font-family: variables.$Raleway;
          font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.5px;
        }

        & span {
          display: block;
          color: #3C3E4D;
          font-family: variables.$Raleway;
          font-size: clamp(1rem, 0.942rem + 0.26vw, 1.25rem);
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    &-inner {
      overflow: hidden;
      padding-bottom: clamp(4rem, 3.769rem + 1.03vw, 5rem);
    }

  }

  &__link {
    max-width: 166px;
    align-items: center;
    justify-content: center;
    color: #F60;
    font-family: variables.$Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 18px 29px;
    border-radius: 13px;
    border: 1px solid #F60;
    background-color: transparent;
    transition: background-color variables.$time ease, border variables.$time ease, color variables.$time ease;

    &.mobile {
      display: none;
      align-self: center;
    }

    &:hover {
      background-color: #FF822E;
      border: 1px solid transparent;
      color: #fff;
    }
  }

}

.tariffs__additional {
  margin-top:clamp(3rem, 2.538rem + 2.05vw, 5rem);
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 1.413rem + 0.38vw, 1.875rem);
  }

  &-title {
    color: #292929;
    font-family: variables.$Raleway;
    font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 21px;
    border-radius: 20px;
    background: #F0F2F7;
    padding: clamp(2rem, 1.308rem + 3.08vw, 5rem);

    &-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & h3 {
          color: #292929;
          font-family: variables.$Raleway;
          font-size: clamp(2rem, 1.885rem + 0.51vw, 2.5rem);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.5px;
        }

        & span {
          display: block;
          color: #3C3E4D;
          font-family: variables.$Raleway;
          font-size: clamp(1rem, 0.942rem + 0.26vw, 1.25rem);
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      gap: 24px;
      place-content: center;

      & .tariffs__item, & .tariffs__video {
        width: 100%;
      }
    }
  }

  &-link {
    max-width: 166px;
    align-items: center;
    justify-content: center;
    color: #F60;
    font-family: variables.$Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 18px 29px;
    border-radius: 13px;
    border: 1px solid #F60;
    background-color: transparent;
    transition: background-color variables.$time ease, border variables.$time ease, color variables.$time ease;

    &.mobile {
      display: none;
      align-self: center;
    }

    &:hover {
      background-color: #FF822E;
      border: 1px solid transparent;
      color: #fff;
    }
  }
}


.tariffs__tabulations {
  margin-top:clamp(3rem, 2.538rem + 2.05vw, 5rem);
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &-tabs {
    display: flex;
    align-items: center;
    gap: 20px;

    &-tab {
      width: max-content;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border-radius: 20px;
      background-color: #F2F3F7;
      color: #29316F;
      font-family: variables.$Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      white-space: nowrap;
      padding: 16px 19px;
      transition: background-color variables.$time ease, color variables.$time ease;

      &-img {
        display: block;
      }

      &.active {
        background-color: #29316F;
        color: #fff;
      }
    }
  }

  &-contents {
    &-content {
      display: none;

      & .tariffs__additional {
        margin-top: 0;

        &-wrapper {
          padding: 0;
        }

        &-link {
          display: none;

          &.desktop {
            display: none;
          }

          &.mobile {
            display: none;
          }
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

