<section class="internet__search">
    <div class="internet__search-wrapper container">
        <h2 class="internet__search-title">
            Проверьте возможность подключения по вашему адресу
        </h2>
        <form class="internet__search-form">
            <input placeholder="Введите город, улицу, дом" type="text" class="internet__search-form-input">
            <button class="internet__search-form-btn">
                Проверить
            </button>
        </form>
        <a href="#" class="internet__search-link">
            Где подключаем
        </a>
    </div>
</section>