<section class="equipment__inner">
    <div class="equipment__inner-container container">
        <h2 class="equipment__inner-title">
            Wi-Fi роутер Tenda AC10 v3.0
        </h2>
        {{>equipment-item-slider}}
        <div class="equipment__inner-info">
            <div class="equipment__inner-info-heading">
                <h2>Wi-Fi роутер Tenda AC10 v3.0</h2>
                <span>3 990 ₽</span>
            </div>
            <div class="equipment__inner-info-body">
                <p>
                    Маршрутизатор обеспечит стабильную скорость интернета на всей площади квартиры и позволит без
                    проблем подключать несколько устройств одновременно.

                    Технология MU-MIMO гарантирует быструю передачу файлов в хорошем качестве и возможность играть в
                    онлайн-игры без задержек. Удалённое управление роутером ускорит его настройку операторами
                    Электронного города без визита специалистов на дом.

                </p>

                <div class="equipment__inner-info-body-list">
                    <h3>
                        Основные характеристики
                    </h3>

                    <ul>
                        <li>Размеры (Ш×Д×В): 205x136x44 мм</li>
                        <li>4 внешних антенны</li>
                        <li>Отверстия для настенного крепления</li>
                        <li>
                            Комплектация: маршрутизатор, адаптер питания, Ethernet-кабель, руководство по установке
                        </li>
                    </ul>
                </div>
                <div class="equipment__inner-info-body-list">
                    <h3>
                        Технические характеристики
                    </h3>

                    <ul>
                       <li>LAN-портов: 4</li>
                       <li>Max скорость по Wi-Fi 1167 Мбит/с</li>
                       <li>Стандарт Wi-Fi: 802.11a/b/g/n/ac</li>
                       <li>Частоты: 2.4 и 5 ГГц</li>
                       <li>Защита информации: WEP, WPA/WPA2/WPA3</li>
                       <li>Мощность: 15 дБм</li>
                       <li>Порт USB 2.0</li>
                       <li>Режимы работы: точка доступа, повторитель, клиен</li>

                    </ul>
                </div>
            </div>
            <button class="equipment__inner-info-btn">Купить</button>
        </div>
    </div>
</section>