<section class="banner">
    <div class="banner__wrapper container">
        <div class="banner__slider swiper">
            <div class="swiper-wrapper">
                <div class="banner__slider-slide swiper-slide">
                    <div class="banner__slider-slide-content">
                        <div class="banner__slider-slide-content-info">
                            <span class="banner__slider-slide-content-info-note">
                                По оптическому кабелю все современные сервисы
                            </span>

                            <h2 class="banner__slider-slide-content-info-title">
                                Проводной интернет
                            </h2>
                            <p class="banner__slider-slide-content-info-caption">
                                Проводной интернет обеспечивает надежность соединения, при возможности использовать
                                высокую скорость для доступа к Интернет-ресурсам.
                            </p>

                            <button class="banner__slider-slide-content-info-btn">
                                Подключить
                            </button>
                        </div>

                        <div class="banner__slider-slide-content-img">
                            <img src="/src/assets/images/banner_img.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="banner__slider-slide swiper-slide">
                    <div class="banner__slider-slide-content">
                        <div class="banner__slider-slide-content-info">
                            <span class="banner__slider-slide-content-info-note">
                                По оптическому кабелю все современные сервисы
                            </span>

                            <h2 class="banner__slider-slide-content-info-title">
                                Проводной интернет
                            </h2>
                            <p class="banner__slider-slide-content-info-caption">
                                Проводной интернет обеспечивает надежность соединения, при возможности использовать
                                высокую скорость для доступа к Интернет-ресурсам.
                            </p>

                            <button class="banner__slider-slide-content-info-btn">
                                Подключить
                            </button>
                        </div>

                        <div class="banner__slider-slide-content-img">
                            <img src="./src/assets/images/banner_img.png" alt="">
                        </div>
                    </div>
                </div>

            </div>

            <div class="banner__slider-pagination"></div>

            <div class="banner__slider-controls">
                <button class="banner__slider-controls-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M17 18.12L10.8192 12L17 5.88L15.0972 4L7 12L15.0972 20L17 18.12Z"/>
                    </svg>
                </button>
                <button class="banner__slider-controls-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M7 5.88L13.1808 12L7 18.12L8.90283 20L17 12L8.90283 4L7 5.88Z"/>
                    </svg>
                </button>
            </div>
        </div>
        {{>searchBanner}}
    </div>
</section>
