<div class="equipment__slider swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide equipment__slider-slide">
            {{>equipmentItem img="/src/assets/images/equipment__item-img.png"}}
        </div>
        <div class="swiper-slide equipment__slider-slide">
            {{>equipmentItem img="/src/assets/images/equipment__item-img.png"}}
        </div>
        <div class="swiper-slide equipment__slider-slide">
            {{>equipmentItem img="/src/assets/images/equipment__item-img.png"}}
        </div>
        <div class="swiper-slide equipment__slider-slide">
            {{>equipmentItem img="/src/assets/images/equipment__item-img.png"}}
        </div>
        <div class="swiper-slide equipment__slider-slide">
            {{>equipmentItem img="/src/assets/images/equipment__item-img.png"}}
        </div>
    </div>
</div>