<div class="equipment__item-slider">
    <div class="equipment__item-slider-main">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-img">
                        <img src="/src/assets/images/equipmentItem_img.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-img">
                        <img src="/src/assets/images/equipmentItem_img.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-img">
                        <img src="/src/assets/images/equipmentItem_img.png" alt="">
                    </div>
                </div>

            </div>
        </div>
        <div class="equipment__item-slider-pagination"></div>
    </div>

    <div class="equipment__item-slider-thumbs">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-img">
                        <img src="/src/assets/images/equipmentItem_img.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-img">
                        <img src="/src/assets/images/equipmentItem_img.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-img">
                        <img src="/src/assets/images/equipmentItem_img.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>