<section class="news">
    <div class="news__wrapper container">

        <div class="news__heading">
            <h2 class="news__heading-title">
                Новости
            </h2>

            <div class="news__heading-controls">
                <button class="news__heading-controls-prev">

                </button>
                <button class="news__heading-controls-next">

                </button>
            </div>
        </div>


        <div class="news__slider swiper">
            <div class="swiper-wrapper">
                <div class="news__slider-slide swiper-slide">
                    {{>newsItem}}
                </div>
                <div class="news__slider-slide swiper-slide">
                    {{>newsItem}}
                </div>
                <div class="news__slider-slide swiper-slide">
                    {{>newsItem}}
                </div>
                <div class="news__slider-slide swiper-slide">
                    {{>newsItem}}
                </div>
                <div class="news__slider-slide swiper-slide">
                    {{>newsItem}}
                </div>
                <div class="news__slider-slide swiper-slide">
                    {{>newsItem}}
                </div>
                <div class="news__slider-slide swiper-slide">
                    {{>newsItem}}
                </div>
                <div class="news__slider-slide swiper-slide">
                    {{>newsItem}}
                </div>
            </div>
        </div>
    </div>
</section>