<div class="tariffs__slider swiper">
    <div class="swiper-wrapper">
        <div class="tariffs__slider-slide swiper-slide">
            {{>tariffItem}}
        </div>
        <div class="tariffs__slider-slide swiper-slide">
            {{>tariffItem}}

        </div>
        <div class="tariffs__slider-slide swiper-slide">
            {{>tariffItem}}

        </div>
        <div class="tariffs__slider-slide swiper-slide">
            {{>tariffItem}}

        </div>
        <div class="tariffs__slider-slide swiper-slide">
            {{>tariffItem}}

        </div>

    </div>

    <div class="tariffs__slider-pagination"></div>
</div>