<section class="about__description">
    <div class="about__description-wrapper container">
        {{>description class="about__description-top" title="О компании" caption="С 2010 года мы специализируемся на
        подключении высокоскоростного интернета, цифрового телевидения и видеонаблюдения в частном секторе. За это время
        мы обеспечили стабильной связью более 65000 домов в Алтайском крае, Тюменской области и Республике Бурятия."}}
        {{> descriptionList class="about__description-bottom" title="Почему нам доверяют?" items=trustList}}
    </div>

</section>