<section class="contacts__feedback">
    <div class="contacts__feedback-wrapper container">
        <div class="contacts__feedback-heading">
            <h2>
                Остались вопросы?
            </h2>
            <p>
                Впишите их в соответствующее поле и укажите контакты для связи. Мы перезвоним вам в ближайшее время
            </p>
        </div>
        <form class="contacts__feedback-form">
            <div class="contacts__feedback-form-fields">
                <label>
                    <input name="name" placeholder="ФИО" type="text">
                </label>
                <label>
                    <input name="phone" placeholder="+7 (999) 999-99-99*" type="number">
                </label>
            </div>
            <label class="contacts__feedback-form-email">
                <input type="text" name="email" placeholder="E-mail">
            </label>
            <label class="contacts__feedback-form-message">
                <textarea name="message" placeholder="Сообщение"></textarea>
            </label>
            <div class="contacts__feedback-form-licenses">
                <button>Отправить заявку</button>
                <div class="contacts__feedback-form-licenses-privacy">
                    <input type="checkbox" id="contacts_checkbox">
                    <label for="contacts_checkbox">
                        Я согласен на <a href="#">обработку персональных данных</a>
                    </label>
                </div>
            </div>
        </form>
    </div>
</section>