<div class="modal__buy">
    <div class="modal__buy-wrapper">
        <h2 class="modal__buy-title">
            Подключится
        </h2>
        <form class="modal__buy-form">
            <div class="modal__buy-form-field">
                <input placeholder="ФИО*" type="text" name="connect_name" id="connect_name">
                <label for="connect_name">
                    ФИО
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <path d="M2.18634 3.35367L0 2.70729L0.322992 1.63418L2.52177 2.43903L2.45967 0H3.57763L3.5031 2.43903L5.66457 1.65852L6 2.74391L3.764 3.39029L5.20495 5.32928L4.29815 6L2.94416 3.93901L1.70193 5.95125L0.795046 5.30487L2.18634 3.35367Z"
                              fill="#E00000"/>
                    </svg>
                </label>
            </div>
            <div class="modal__buy-form-field">
                <input placeholder="+7(999) 999-99-99*" type="text" name="connect_phone" id="connect_phone">
                <label for="connect_phone">
                    Номер
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
                        <path d="M2.18634 3.35367L0 2.70729L0.322992 1.63418L2.52177 2.43903L2.45967 0H3.57763L3.5031 2.43903L5.66457 1.65852L6 2.74391L3.764 3.39029L5.20495 5.32928L4.29815 6L2.94416 3.93901L1.70193 5.95125L0.795046 5.30487L2.18634 3.35367Z"
                              fill="#E00000"/>
                    </svg>
                </label>
            </div>

            <div class="modal__buy-form-licenses">
                <input type="checkbox" id="connect_checkbox">
                <label for="connect_checkbox">
                    Я согласен на <a href="#">обработку персональных данных</a>
                </label>
            </div>

            <button class="modal__buy-form-btn" type="submit">
                Отправить заявку
            </button>
        </form>
        <button class="modal__buy-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M21 1.5625L1 21.2123" stroke="#252525" stroke-width="2" stroke-linejoin="round"/>
                <path d="M1 1.5625L21 21.2123" stroke="#252525" stroke-width="2" stroke-linejoin="round"/>
            </svg>
        </button>

    </div>
</div>