<section class="support__form ">
    <div class="support__form-wrapper container">

        <div class="support__form-content">
            <h2 class="support__form-title">
                У Вас есть возможность подать заявку по телефону ежедневно с 9:00 до 22:00. Или заполнить и отправить нам
                онлайн-заявку:
            </h2>

            <form class="support__form-container">
                <div class="support__form-fields">
                    <input required placeholder="Введите лицевой счет*" type="text">
                    <input required placeholder="+7 (999) 999-99-99*" type="text">
                </div>
                <textarea placeholder="Текст обращения" class="support__form-message"></textarea>
                <div class="support__form-inner">
                    <button>отправить заявку</button>
                    <div class="support__form-inner-licenses">
                        <input type="checkbox" id="support_checkbox">
                        <label for="support_checkbox"> Я согласен на <a href="#">обработку персональных данных</a></label>
                    </div>

                </div>
            </form>
        </div>

    </div>
</section>