<section class="activities">
    <div class="activities__wrapper container">
        <div class="activities__list">
           {{>activitiesItem link="src/pages/internet.html" img="/src/assets/images/activities_internet.png" title="Интернет"}}
           {{>activitiesItem link="src/pages/tv.html" img="/src/assets/images/activities_tv.png" title="Телевидение"}}
           {{>activitiesItem link="src/pages/VideoSurveillance.html" img="/src/assets/images/activities_video.png" title="Видеоконтроль"}}
           {{>activitiesItem link="#" img="/src/assets/images/activities_cinema.png" title="Кинотеатр"}}
           {{>activitiesItem link="src/pages/support.html" img="/src/assets/images/activities_support.png" title="Техподдержка"}}
           {{>activitiesItem link="#" img="/src/assets/images/activities_pay.png" title="Оплата"}}
           {{>activitiesItem link="#" img="/src/assets/images/activities_account.png" title="Личный кабинет"}}
           {{>activitiesItem link="#" img="/src/assets/images/activities_discount.png" title="Акции"}}
        </div>
    </div>
</section>