<section class="activities">
    <div class="activities__wrapper container">
        <div class="activities__list">
            {{>activities-item
            link="src/pages/internet.html"
            img="/src/assets/images/activities_internet.png"
            title="Интернет"}}

            {{>activities-item
            link="src/pages/tv.html"
            img="/src/assets/images/activities_tv.png"
            title="Телевидение"}}

            {{>activities-item
            link="src/pages/VideoSurveillance.html"
            img="/src/assets/images/activities_video.png"
            title="Видеоконтроль"}}

            {{>activities-item
            link="#"
            img="/src/assets/images/activities_cinema.png"
            title="Кинотеатр"}}

            {{>activities-item
            link="src/pages/support.html"
            img="/src/assets/images/activities_support.png"
            title="Техподдержка"}}

            {{>activities-item
            link="#"
            img="/src/assets/images/activities_pay.png"
            title="Оплата"}}

            {{>activities-item
            link="#"
            img="/src/assets/images/activities_account.png"
            title="Личный кабинет"}}

            {{>activities-item
            link="#"
            img="/src/assets/images/activities_discount.png"
            title="Акции"}}
        </div>
    </div>
</section>