<aside class="aside__menu">
    <svg class="aside__menu-close" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
        <rect width="34" height="34" rx="4" fill="#F5F5F5"/>
        <path d="M24.0832 9.91666L9.9165 24.0833" stroke="#29316F" stroke-width="3" stroke-linejoin="round"/>
        <path d="M9.9165 9.91666L24.0832 24.0833" stroke="#29316F" stroke-width="3" stroke-linejoin="round"/>
    </svg>
    <nav class="aside__menu-nav">
        {{>menuList class="aside__menu-nav-list"}}
    </nav>
</aside>