<article class="equipment__item">
    <div class="equipment__item-img">
        <img src="{{img}}" alt="">
    </div>

    <div class="equipment__item-content">
        <h3 class="equipment__item-content-title">
            Терминал C-DATA xPON ONT FD511G-X-APC
        </h3>
        <p class="equipment__item-content-caption">
            Технология MU-MIMO гарантирует быструю передачу файлов в хорошем качестве и возможность играть в онлайн-игры
            без задержек.
        </p>
        <span class="equipment__item-content-price">
            1 990 ₽
        </span>
        <button  class="equipment__item-content-btn">
            Купить
        </button>
    </div>
</article>