<article class="equipment__item">
    <a href="/src/pages/equipmentItemPage.html" class="equipment__item-overlay"></a>
    <div class="equipment__item-img">
        <img src="{{img}}" alt="{{title}}">
    </div>

    <div class="equipment__item-content">
        <div class="equipment__item-content-text">
            <h3 class="equipment__item-content-text-title">
                {{title}}
            </h3>
            <p class="equipment__item-content-text-caption">
                {{caption}}
            </p>
            <span class="equipment__item-content-text-price">
                 {{price}}
            </span>

        </div>
        <button class="equipment__item-content-btn">
            Купить
        </button>
    </div>
</article>

