<article class="news__item">
    <a href="{{link}}" class="news__item-overlay"></a>

    <div class="news__item-content">
        <div class="news__item-content-img">
            <img src="{{img}}" alt="{{title}}">
        </div>
        <div class="news__item-content-info">
            <span class="news__item-content-info-date">
                {{date}}
            </span>
            <h3 class="news__item-content-info-title">
                {{title}}
            </h3>
            <a href="{{link}}" class="news__item-content-info-link">
                Подробнее
            </a>
        </div>
    </div>
</article>