<article class="news__item">
    <a href="#" class="news__item-overlay"></a>

    <div class="news__item-content">
         <div class="news__item-content-img">
             <img src="/src/assets/images/news_img.png" alt="">
         </div>
        <div class="news__item-content-info">
            <span class="news__item-content-info-date">
                01.01.2025
            </span>
            <h3 class="news__item-content-info-title">
                Специальное предложение для услуг связи при покупке оборудования
            </h3>
            <a href="#" class="news__item-content-info-link">
                Подробнее
            </a>
        </div>
    </div>
</article>