<article class="promotion__item">
    <a href="{{link}}" class="promotion__item-overlay"></a>
    <div class="promotion__item-content">
        <div class="promotion__item-content-text">
            <div class="promotion__item-content-text-title">
                   <span>
                {{first}}
            </span>
                <span>
                {{second}}
            </span>
                <span>
                {{third}}
            </span>
            </div>
            <p class="promotion__item-content-text-caption">
                <span>Скидка 50% </span> на первые три месяца на абонентскую плату при подключении <span>тарифа 300 Мбит + ТВ</span>
            </p>
        </div>
        <a href="{{link}}" class="promotion__item-content-link">Подробнее</a>
        
        <div class="promotion__item-content-img">
            <img src="{{img}}" alt="">
        </div>
    </div>
</article>