<section class="promo">
    <div class="promo__wrapper container">
        <div class="promo__content">
            <div class="promo__content-info">
                <div class="promo__content-info-text">
                    {{#if title}}
                    <h2 class="promo__content-info-text-title">
                        {{title}}
                    </h2>
                    {{/if}}
                    {{#if caption}}
                    <p class="promo__content-info-text-caption">
                        {{caption}}
                    </p>
                    {{/if}}
                </div>

                <button class="promo__content-info-btn">
                    Подключиться
                </button>
            </div>

            <div class="promo__content-img">
                <img src="/src/assets/images/activities_account.png" alt="">
            </div>
        </div>
    </div>
</section>

