<article class="tariffs__item">
    <h3 class="tariffs__item-title">
        Рекомендуем
    </h3>
    <div class="tariffs__item-content">
        <div class="tariffs__item-content-speed">
            <div class="tariffs__item-content-speed-img">
                <img src="/src/assets/images/ellipse_speed.png" alt="">
            </div>
            <div class="tariffs__item-content-speed-meaning">
                <span class="tariffs__item-content-speed-meaning-title">200</span>
                <span class="tariffs__item-content-speed-meaning-value">мбит/с</span>
            </div>
        </div>
        <h3 class="tariffs__item-content-price">
            <span>999₽</span>/мес
        </h3>
        <a href="#" class="tariffs__item-content-connect">
            Подключиться
        </a>
    </div>
</article>
