<footer class="footer container">
    <div class="footer__wrapper ">
        <div class="footer__top">
            <div class="footer__top-branding">
                <a href="/" class="footer__top-branding-logo">
                    <img src="./src/assets/images/footer_logo.png" alt="">
                </a>

                <div class="footer__top-branding-identity">
                    {{> switch class="footer-desktop"}}
                    {{> citiesSelect class="footer-desktop"}}
                </div>
            </div>


            <div class="footer__top-contacts">
                <div class="footer__top-contacts-list">
                    <div class="footer__top-contacts-list-item">
                        <a class="footer__top-contacts-list-item-city" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                 fill="none">
                                <circle cx="20" cy="20" r="19.5" stroke="white" stroke-opacity="0.19"/>
                                <path d="M20.5 12C18.7767 12.0021 17.1246 12.7064 15.9061 13.9584C14.6875 15.2104 14.002 16.9079 14 18.6786C13.9979 20.1255 14.4579 21.5332 15.3095 22.6857C15.3095 22.6857 15.4867 22.9255 15.5157 22.9601L19.3431 27.598C19.943 28.3251 21.057 28.3251 21.6569 27.598L25.4867 22.9571C25.5127 22.9249 25.6905 22.6857 25.6905 22.6857L25.6911 22.6839C26.5422 21.5319 27.002 20.1249 27 18.6786C26.998 16.9079 26.3125 15.2104 25.0939 13.9584C23.8754 12.7064 22.2233 12.0021 20.5 12ZM20.5 21.1071C20.0325 21.1071 19.5755 20.9647 19.1868 20.6979C18.7981 20.431 18.4952 20.0517 18.3163 19.6079C18.1374 19.1642 18.0906 18.6759 18.1818 18.2048C18.273 17.7337 18.4981 17.301 18.8287 16.9613C19.1592 16.6217 19.5804 16.3904 20.0389 16.2967C20.4974 16.203 20.9726 16.2511 21.4045 16.4349C21.8364 16.6187 22.2056 16.93 22.4653 17.3293C22.725 17.7287 22.8636 18.1982 22.8636 18.6786C22.8629 19.3224 22.6136 19.9397 22.1705 20.3949C21.7274 20.8502 21.1266 21.1063 20.5 21.1071Z"
                                      fill="white"/>
                            </svg>
                            Барнаул
                        </a>

                    </div>

                    <div class="footer__top-contacts-list-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <circle cx="20" cy="20" r="19.5" stroke="white" stroke-opacity="0.19"/>
                        </svg>
                        <div class="footer__top-contacts-list-item-links">
                            <a href="#">8 <span>(923) 002-86-74</span></a>
                            <a href="#">8 (3852) <span>57-30-06</span></a>
                        </div>


                    </div>

                    <div class="footer__top-contacts-list-item">
                        <a class="footer__top-contacts-list-item-message" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                 fill="none">
                                <circle cx="20" cy="20" r="19.5" stroke="#FBFBFB" stroke-opacity="0.2"/>
                                <path d="M28 16.373V23.5C28 24.163 27.7366 24.7989 27.2678 25.2678C26.7989 25.7366 26.163 26 25.5 26H14.5C13.837 26 13.2011 25.7366 12.7322 25.2678C12.2634 24.7989 12 24.163 12 23.5V16.373L19.746 20.931C19.823 20.9764 19.9107 21.0003 20 21.0003C20.0893 21.0003 20.177 20.9764 20.254 20.931L28 16.373ZM25.5 13C26.1151 12.9999 26.7087 13.2266 27.1672 13.6367C27.6257 14.0469 27.9168 14.6116 27.985 15.223L20 19.92L12.015 15.223C12.0832 14.6116 12.3743 14.0469 12.8328 13.6367C13.2913 13.2266 13.8849 12.9999 14.5 13H25.5Z"
                                      fill="white"/>
                            </svg>
                            ab@edinos.ru
                        </a>

                    </div>
                </div>

                <div class="footer__top-contacts-socials">
                    <a href="#">
                        <img src="./src/assets/images/icons/footer_telegram-icon.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="./src/assets/images/icons/footer_whatsapp-icon.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="./src/assets/images/icons/footer_viber-icon.svg" alt="">
                    </a>
                </div>
            </div>

            <nav aria-label="Первое меню" class="footer__top-nav">
                <ul class="footer__top-nav-list">
                    <li class="footer__top-nav-list-item">
                        <a href="#" class="footer__top-nav-list-item-link">
                            Интернет
                        </a>
                    </li>
                    <li class="footer__top-nav-list-item">
                        <a href="#" class="footer__top-nav-list-item-link">
                            Телевидение
                        </a>
                    </li>
                    <li class="footer__top-nav-list-item">
                        <a href="#" class="footer__top-nav-list-item-link">
                            Видеоконтроль
                        </a>
                    </li>
                    <li class="footer__top-nav-list-item">
                        <a href="#" class="footer__top-nav-list-item-link">
                            О компании
                        </a>
                    </li>
                </ul>
            </nav>
            <nav aria-label="Второе меню" class="footer__top-nav" >
                <ul class="footer__top-nav-list">
                    <li class="footer__top-nav-list-item">
                        <a href="#" class="footer__top-nav-list-item-link">
                            Техническая поддержка
                        </a>
                    </li>
                    <li class="footer__top-nav-list-item">
                        <a href="#" class="footer__top-nav-list-item-link">
                            Абонентам
                        </a>
                    </li>
                    <li class="footer__top-nav-list-item">
                        <a href="#" class="footer__top-nav-list-item-link">
                            Контакты
                        </a>
                    </li>

                </ul>
            </nav>

            <div class="footer__top-buttons">
                <button class="footer__top-buttons-pay">
                    Оплатить
                </button>
                <button class="footer__top-buttons-account">
                    Личный кабинет
                </button>
            </div>
        </div>


        <div class="footer__bottom">
            <a href="#" class="footer__bottom-policy">
                Политика конфиденциальности
            </a>

            <div class="footer__bottom-site">
                <div class="footer__bottom-site-links">
                    <a href="#" title="Создание сайтов">
                        Создание сайтов
                    </a>
                    <a href="#" title="Продвижение сайтов">
                        Продвижение сайтов
                    </a>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="47" viewBox="0 0 70 47" fill="none">
                    <path d="M64.048 20.7086V22.8191H64.815C65.6242 22.8191 66.2582 22.5183 66.2582 21.716C66.2582 21.185 65.9966 20.7064 64.9769 20.7064C64.6576 20.7064 64.4847 20.695 64.048 20.7086ZM61.9287 28.1638V18.6392C62.4452 18.6392 64.815 18.6392 65.0811 18.6392C67.6105 18.6392 68.5105 19.9314 68.5105 21.6887C68.5105 23.4573 67.4509 24.1798 66.9477 24.4396L69.6278 28.1638H67.0585L64.8283 24.8613H64.048V28.1638H61.9287Z" fill="#EB5757"/>
                    <path d="M59.3811 24.0658C59.3811 26.9786 57.581 28.1638 55.5947 28.1638C53.2116 28.1638 51.5557 26.7621 51.5557 23.9701V18.6392H53.675V23.5074C53.675 24.9912 54.1117 26.1216 55.5947 26.1216C56.8783 26.1216 57.2618 25.1553 57.2618 23.6305V18.6392H59.3811V24.0658Z" fill="#EB5757"/>
                    <path d="M46.2838 46.9034H0.663574V0H46.2838V16.0478H44.169V2.17434H2.77622V44.7291H44.169V30.7508H46.2838V46.9034Z" fill="#EB5757"/>
                    <path d="M37.1746 28.1661L32.7786 22.4476V28.1661H30.79V18.6367H32.4859L36.8842 24.3803L36.8798 18.6367H38.866L38.8705 28.1661H37.1746Z" fill="#EB5757"/>
                    <path d="M41.4204 18.6353H49.1018V20.6774H46.3197V28.1667H44.2004V20.6774H41.4204V18.6353Z" fill="#EB5757"/>
                    <path d="M9.98291 18.6353H12.1022V22.7879L15.1349 18.6353H17.6776L14.1949 23.0341L17.9547 28.1667H15.2679L12.1022 23.6312V28.1667H9.98291V18.6353Z" fill="#EB5757"/>
                    <path d="M23.4813 26.2016C25.1905 26.2016 26.0772 24.9594 26.0772 23.4005C26.0772 21.7093 24.9333 20.5993 23.4813 20.5993C21.9915 20.5993 20.8875 21.7093 20.8875 23.4005C20.8875 24.9845 22.0425 26.2016 23.4813 26.2016ZM23.4813 18.6187C26.2191 18.6187 28.2631 20.4534 28.2631 23.4005C28.2631 26.2016 26.2191 28.1823 23.4813 28.1823C20.7456 28.1823 18.7017 26.3452 18.7017 23.4005C18.7017 20.7178 20.617 18.6187 23.4813 18.6187Z" fill="#EB5757"/>
                </svg>
            </div>

            <a href="#" class="footer__bottom-company">
                ООО «Единый оператор связи»
            </a>
        </div>
    </div>

</footer>